header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30336B;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #05C46B;
    text-shadow: 5px 5px 0px #000;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #E9E8E8;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #05C46B;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #7C5E99;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms cubic-bezier(0, 0, 0.93, 2.58);
}

#button:hover {
    transform: scale(1.08);
}