.main-button {
    display: inline-block;
    padding: 18px 20px;
    margin-right: 0;
    background-color: #7C5E99;
    box-shadow: 5px 5px 0px #000;
    transition: transform 100ms cubic-bezier(0, 0, 0.93, 2.58);
    color: #E9E8E8;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.main-button:hover {
    transform: scale(1.08);
}


.main-button.-second {
    background-color: #30336B;
    box-shadow: 5px 5px 0px #7C5E99;
}

.main-button.-full{
    box-sizing: border-box;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-button.-full:hover {
    transform: scale(1.01);
}