.main-description{
    color: #E8E8E8;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 765px) {
    .main-description{
        font-size: 18px;
    }
}