.skill-tec {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: #E9E8E8;
}

.skill-tec .icon{
    margin-right: 25px;
    width: 90px;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tec .main-title{
    margin-bottom: 10px;
}

@media (max-width: 425px) {
    .skill-tec {
        font-size: 16px;
    }
    
    .skill-tec .icon{
        width: 70px;
        margin-left: 30px;
    }
}